/* Footer.module.css */
.footer {
    background-color: #259b9b;
    /* Utiliza uno de los colores de tu paleta */
    color: #feedbf;
    /* Contraste alto con el fondo */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerContent {
    /* Ajusta el estilo según tus preferencias */
}

/* Estilos adicionales para otros elementos que quieras incluir en el footer */