/* Tools.css */

.tools-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Espacio entre los iconos */
}

.tool-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    /* Ancho deseado para cada icono */
    text-align: center;
}