/* Importa Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definición de variables de color */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Cambia las variables de color en el modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Estilo del cuerpo */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Ancho del cuerpo en pantallas pequeñas */
@media screen and (max-width: 640px) {
  .sm\:w-90 {
    width: 90%;
  }

  .sm\:mx-auto {
    margin-left: 10px;
    margin-right: auto;
  }

     .sm\:p-4 {
       padding: 1px;
       /* Utiliza la clase p-4 de Tailwind */
     }
     }


/* Reglas de utilidad adicionales */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}